<div id="request-invite" class="modal" style="display: <%= @user.errors.any? ? 'block' : 'none';%>">
  <%= simple_form_for resource, :as => resource_name, :url => registration_path(resource_name) , :html => {:class => 'form-horizontal' } do |f| %>
    <div class="modal-header">
      <a class="close" data-dismiss="modal">&#215;</a>
      <h3>Request Information</h3>
    </div>
    <div class="modal-body">
      <%= f.error_notification %>
      <%= f.input :email, :placeholder => 'user@example.com' %>
    </div>
    <div class="modal-footer">
      <%= f.submit "Request Information", :class => "btn.btn-success", :id => 'invitation_button' %>
      <a class="btn" data-dismiss="modal" href="#">Close</a>
    </div>
  <% end %>
</div>


<table class='center_table'><tr><td>

	<br><br>
	<h4>Request more information</h4>
	<a class="btn btn-primary" data-toggle="modal" href="#request-invite">Request Information</a>
	<br><br>
	<h4>Read our Blog</h4>
	<a href="http://ospreypointpartners.blogspot.com" target="_blank" shape="rect"><img alt="" style="border-bottom: 0px solid; border-left: 0px solid; border-top: 0px solid; border-right: 0px solid;" src="http://www.google.com/help/hc/images/logos/blogger_logo.gif" /></a>
	<br><br>
	<h4>Follow us</h4>
	<a href="http://www.twitter.com/andydenenberg" target="_blank" shape="rect"><img style="border-bottom: 0px solid; border-left: 0px solid; border-top: 0px solid; border-right: 0px solid;" alt="Follow andydenenberg on Twitter" src="http://twitter-badges.s3.amazonaws.com/follow_us-a.png" /></a>	
</td></tr></table>

</div>




